{block content}

{*tady kdyz potrebujes to mit vic na stredu*}
<div class="container">
    {control objednavkyForm1}
  <a class="btn btn-primary" n:href="Homepage:default" role="button">← zpět na hlavní stránku</a>
  <br>
    <br>

</div>
</div>

{/block}