{block content}
<br /><br /><br />
<h1 n:block=title>Probíhá údržba aplikace</h1>
<br /><br />
<p>Objednávky jsou nyní nedostupné, probíhá jejich údržba nebo oprava, která zřejmě zabere víc než pár minut.</p>
<p><small>Prosím zkuste to později, třeba druhý den. V přípaně, že vaše věc spěchá, se obraťte na správce IT.<small></p>

