application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 20 minutes


di:
	export:
		parameters: no
		tags: no
		types:


services:
	router: App\Router\RouterFactory::createRouter
	- MyAuthenticator
	-
		class: App\Presenters\PrihlasPresenter
		setup:
			- setClientId(%oauth.clientId%)
			- setClientSecret(%oauth.clientSecret%)
			- setRedirectUri(%oauth.redirectUri%)
