application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 120 minutes


di:
	export:
		parameters: no
		tags: no
		types:

extensions:
    - Contributte\FormMultiplier\DI\MultiplierExtension

services:
	router: App\Router\RouterFactory::createRouter
	- MyAuthenticator
	-
		class: App\Presenters\PrihlasPresenter
		setup:
			- setClientId(%oauth.clientId%)
			- setClientSecret(%oauth.clientSecret%)
			- setRedirectUri(%oauth.redirectUri%)
	- App\Model\ObjednavkyManager

decorator:
	# u všech služeb, co jsou instancí této třídy nebo rozhraní
	App\Presenters\BasePresenter:
		setup:
			- setInstanceParam(%instance.name%, %instance.cssClass%, %instance.testing%)

constants:
	OBJ_DB_ZMENA: 'obj_db_zmena'
	OBJ_DB_SMAZANI: 'obj_db_smazani'
	OBJ_DB_IGNORUJ: 'obj_db_ignoruj'
	OBJ_DB_NOVA: 'obj_db_nova'
