{block content}

<div class="container-fluid">

<br >

<h1 class="display-4">Přehled všech objednávek</h1>
<br >






<h4> Zatím neschválené </h4>
{control simpleGrid2} 
</div>
<br >
<br >
<br >
<br >
<h4> Odložené </h4>
{control simpleGrid3} 
</div>
<br >
<br >
{/block}