{block content}

<div class="container-fluid">

<br >

<h1 class="display-4">Schválené objednávky do účetnictví</h1>
<br >



<h4> V případě potřeby je můžete smazat (objednávka se nebude realizovat) </h4>
{control simpleGrid2} 
</div>
<br >
<br >
<br >
<br >

{/block}