{block content}

<div class="container-fluid">

<br >

<h4 class="display-4">Mazání objednávek  - {$prihlasen}</h4>
<br >
<br >

<h4> Zamítnuté objednávky (je možné je smazat) </h4>
{control zamitGrid2} 
<br >
<br >
<br >
<br >


<h4> Vaše objednávky, které čekají na schválení nebo ověření a můžete je smazat </h4>
{control simpleGrid2} 





</div>
<br >
<br >
<br >
<br >






{/block}