.error{
    border: solid 2px red;
    font-size: 1.5rem;
    font-weight: 700;
}

body{
    background-color: rgb(218, 218, 218);
}
body, .navbar i.fa {
    line-height: 1.3;
}

body.test {
    background-image: url(test.png);
    background-color: white;
}
body.test2 {
    background-image: url(test2.png);
    background-color: white;
}

.datagrid {
    white-space: normal;
}
.datagrid table td {
    max-width: 14rem;
    overflow: hidden;
    font-size: 90%;
}