



{block content}
<br>
<div class="container-fluid">
<h2 class="display-4">Párování deníku</h2>
<span style="float:right; margin-top:-50px;">
</span>


  <h4>Nové položky deníku (zatím nesehrané)</h4>
 
{control novePolozkyDenikuGrid} 
  
  <br>
  <br>
  <h4>Smazané položky deníku</h4>

</div>  

{control smazanePolozkyDenikuGrid} 


{/block}