{block content}

<div class="container-fluid">

<h1 class="display-4 mt-4">Přehled všech objednávek - {$prihlasen}</h1>

<a class="btn btn-primary" n:href="NovaObjednavka:default" role="button">Zadat novou objednávku</a>
{control vsechnyObjednavkyGrid} 

</div>
{/block}